[2019-10-01 22:34] philsturgeon opened #9 "Search (with filters)"
Implement a search page `/search` in the new frontend (found in the `new` branch). Our amazing [new backend has search functionality](https://statamic.dev/search) which integrates with Algolia.

This means we can just use the [JavaScript frontend client](https://www.algolia.com/doc/api-client/getting-started/install/javascript/?language=javascript), and the search key is `e8be8c8a25143890d82abf210

[2019-11-30 21:40] philsturgeon opened #8 "Country Selector Improvements"
The country selector added in philsturgeon/awesome-earth#71 is fantastic but could do with some tweaks.

The goal of the selector is to help hide content not relevant to you, which should mean it only removes things which are tied to specific countries. Let's make sure that people can select County X even if county X does not have any links, because they should still see "global" things (links wit

[2020-01-01 22:10] philsturgeon opened #7 "Category: Investing / Finance"
https://www.rescoop.eu/  - they would be a  good resource for the projects that people who don't live in the community can invest in- so usually there is a hierarchy where if you own property in the community you have a right of first refusal to invest in the RE project.  then the circle widens if there is still space for investments-  obviously these are long term investments and every area opera

[2020-01-26 21:31] philsturgeon opened #6 "Frontend Rewrite"
## "Actions"

We will still have Categories, but instead of "Links" let's call them "Actions". Things people can do, buy a thing, donate to a thing, subscribe to a thing, they're all actions. Climate actions :D

## API-centric

The API doesn't have any docs yet as it's automatically created by Statamic. To learn how the Statamic Content API works in a generic way, look at their [Content API docume

[2020-01-26 22:28] philsturgeon opened #5 "Category: Food"
Mealworms, good for people and pet food (they're starting to use it for chickens too)
https://www.bbc.com/news/science-environment-49450935

http://www.foodwaste.ie/

https://www.forkful.app/

https://www.uktech.news/news/press-release%3A-qventures-leads-round-in-kitche-the-home-food-waste-reduction-and-cost-saving-app-20200310

https://justone.earth/food/

[2020-02-10 10:42] AdrienFromToulouse opened #10 "Korean Content"
Translate content to Korean.

What content should be prioritised?

TODO:
- [ ] check KR country flag exists in assets
- [ ] check country selector in UI
- [ ] check font
- [ ] provide a way to submit translation

[2020-02-10 10:43] AdrienFromToulouse opened #11 "French Translation"
Translate content to french.

What content should be prioritised?

TODO:
- [ ] check FR country flag exists in assets
- [ ] check country selector in UI
- [ ] provide a way to submit translation

[2020-03-24 20:01] philsturgeon opened #1 "Discussion: Public API"
I want to split the awesome-earth and "protect earth" out into their own repos, with awesome-earth being this simple markdown awesome list and protect earth just being all the logic for the Yellow Pages of Climate Action.

Awesome Earth can just pull from the API, but this isn't the only API client!

[ClimateChoice.co](https://climatechoice.co) will be another. They have a bunch of guides, and at

[2020-03-24 23:46] philsturgeon opened #2 "Category: Logistics"
"Transportation" category is about getting people and stuff around in general, and travel is more about vacations and alternatives to flying, which does ofc have a little overlap. In all this there is another category starting to emerge: "Logistics".

Maybe we could create a logistics section, rename Transportation as "Commuting" or "Personal Mobility", then get some of the more fleet/shipping thi

[2020-03-24 23:47] philsturgeon opened #3 "Country Specific URLs"
Some sites have different websites for different countries.

<img width="1213" alt="image" src="https://user-images.githubusercontent.com/67381/77330222-eeb88680-6d16-11ea-8459-f9293e0dd518.png">

Maybe some YAML like this:

[code]

Making a little helper to grab the data, so its the default URL unless you've selected a country, then it'll try to use that if it exists.

[2020-03-24 23:47] philsturgeon opened #4 "Category: Charities"
A list of places y'all can donate all over the world. Many of the places we link to already have donate options but lets make a specific category for this.

## New Links

- [GivePower](https://givepower.org/)
- [MyCliamte Offset Projects](https://co2.myclimate.org/en/my_project_calculators/new)

[2020-03-24 23:47] philsturgeon commented on #5
@HeidiHansen this seems mostly done now but let's make sure the last relevant links from this issue are in and close this one up.

[2020-03-24 23:48] mbifulco commented on #1
Yep, netlify cms hasn't been great for us, and the more involved this project gets, the bigger risk that'll become.

How can I be helpful here? Remove the CMS config?

[2020-03-24 23:55] philsturgeon commented on #1
@mbifulco No need, if it's gonna be removed we can remove it when a replacement has been lined up. I have two more to review, including https://flotiq.com/ and https://api-platform.com/.

@rapzo the title slug does make working with YAML marginally less appealing, but in general netlify cms has rarely worked for me. @HeidiHansen cannot get in, and now it's got me spinning in a redirect loop on log

[2020-03-25 07:08] timothyclifford commented on #1
I'm happy with whatever and also happy to help out migrating if you need.

Had a play around with Strapi this week actually, has a lot of features but the documentation is lagging and deploying it can be painful. That's my 2c anyway...

[2020-03-25 07:18] timothyclifford commented on #1
If you want a CMS, check out https://forestry.io/ also. Still does static sites but works with Gatsby and Hugo which can both provide a search API - not sure if fits your requirements 100% however.

Otherwise, have you thought about asking one of the headless platforms for a free, open source account?

[2020-03-25 11:09] rapzo commented on #1
I'll give it a serious to get any different structure or whatever might
make it work better and making sense at the same time hehe.
But i'll gladly do anything else, from a migration standpoint, if you need
some extra hands on that.

On Wed, 25 Mar 2020 at 07:19, Tim Clifford <notifications@github.com> wrote:

--
Rui Pedro Lima

[2020-03-25 13:06] philsturgeon commented on #1
Statamic is amazing! I am so happy, it's everything Netlify CMS wants to be but a billion times better. It's still git based but its got a fantastic UI too. I'm smashing through it all, got the categories in place already:

<img width="614" alt="image" src="https://user-images.githubusercontent.com/67381/77539214-e720eb00-6e98-11ea-9865-abd5c45f527a.png">

1. It has a [REST API](https://statamic.d

[2020-03-25 14:58] ijpatricio commented on #1
great news! woohoo 🔥

will do so! you can also just give me the repo, i can quickly spin it up locally, that will help!

[2020-03-25 15:27] philsturgeon commented on #1
@ijpatricio its in the api/ folder of the `statamic` branch in this new protect.earth repo. Make sure you've changed your remotes to this repo - its not a rename/redirect its brand new.

[2020-03-25 15:35] ijpatricio commented on #1
Got it!

Statamic v3! Wonderful!!! Let's do this!

On Wed, Mar 25, 2020 at 3:27 PM Phil Sturgeon <notifications@github.com>
wrote:

[2020-03-25 16:19] #5 closed

[2020-03-25 16:25] philsturgeon commented on #9
Ok! We're going with Statamic for the rewrite, which looks like it [handles search nicely](https://statamic.dev/search). it's going to be API driven (#1) and Statamic have Algolia search built right in.

I've mentioned this in the #6 @ijpatricio, and I'll try and get this sorted out in the `api` branch shortly.

[2020-03-25 16:32] philsturgeon opened #12 "Taxonomies"
The Statamic rewrite will give us proper [taxonomies](https://statamic.dev/taxonomies) instead of just arbitrary tags.

This will help us classify our actions in a bunch more ways.

Spitballing some ideas:

- **audience:** individuals, tech, business, local-authority, land owners, etc...
- **steps:** refuse, reduce, reuse, recycle, offset, educate, convert
- **campgains:** flightfree
- **solutions

[2020-03-25 16:47] philsturgeon opened #13 "Statamic Migration"
I'm working on a migration in the `statamic` branch,  to replace Netlify CMS and Gatsby with Statamic. (see reasoning here #1)

There's a few parts involved with this.

- [x] A script which will read our src/data/links/*.yaml and smush them into Statamic content. This will done on deploy over and over while I muck around with this rewrite.

- [x] Deploy this to `api.protect.earth` so as not to har

[2020-03-25 16:48] #1 closed

[2020-03-25 16:50] philsturgeon opened #14 "Localization"
Once the Statamic migration is done (https://github.com/philsturgeon/protect.earth/issues/13) we can look into things like localization.

Statamic v2 has excellent localization: https://docs.statamic.com/localization

We've on Statamic v3 beta right now, so we need to wait for this functionality to catch up before we worry about it.

In the meantime, let's focus on finding "actions" for countries

[2020-03-25 16:51] philsturgeon commented on #10
We actually have a plan! Let's focus on finding actions for folks living in South Korea, and any other countries you have information on, and we'll sort out localization after the rewrite to Statamic. https://github.com/philsturgeon/protect.earth/issues/14

[2020-03-25 16:51] #10 closed

[2020-03-25 16:52] philsturgeon commented on #11
Let's move this chat to https://github.com/philsturgeon/protect.earth/issues/14 and focus on finding more french actions, and loop back to translate later.

[2020-03-25 16:52] #11 closed

[2020-03-25 16:58] #8 closed

[2020-03-26 15:36] AdrienFromToulouse commented on #14
@philsturgeon sorry about this potential stupid question...

what do you mean by `actions`, what defines an action?
- something more or less linked to sustainability correct?

FYI: http://www.zeri.org/ is 👍
(Gunter Pauli)

Will look into this for Korea and France.

[2020-03-26 17:45] ajitbohra commented on #6
if I am not wrong we are planning to revamp and move over to statamic?

[2020-03-26 18:28] philsturgeon commented on #6
@ajitbohra correct, more on that on #16. I'll be deploying the API shortly, and the new Vue.js frontend should emerge soon. I don't know how it'll look but more hands will definitely be welcome when it does.

[2020-03-26 21:15] philsturgeon commented on #14
Ah yeah, sorry "actions" is what we call "links" in master. Basically any action that anyone can take: sign up for this service, buy this product, attend this protest, etc.

[2020-03-27 11:58] HeidiHansen opened #17 "Category: Femenine hygiene"
Period underwear brands
Menstrual cups
Washable panty liners
Sea sponge tampons
Fertility charting
Good condom company
Vegan non-toxic spermicide

[2020-03-27 12:18] HeidiHansen opened #18 "Appliances and home improvements"
There's loads of resources for off-grid appliances.
Lehman's catalog
https://www.bimblesolar.com/offgrid/solarfridge
https://www.google.com/search?client=firefox-b-d&q=solar+freezer
Biogas stoves
Composting toilets
Recirculators for wood stoves
Thermal mass heaters
DIY mass heater wood stoves

[2020-03-27 12:25] HeidiHansen opened #19 "Hygiene"
Toothbrushes with replaceable heads
Silk dental floss with glass containers
Refillable dental floss
[Culo clean water bottle bidet adaptor](https://www.garagegrowngear.com/products/portable-bidet-by-culoclean)
[Mr Bidet](https://mrbidet.ca)
Non-disposable razors, and how to use them.
[Washable cloth diapers](https://www.planoly.com/kangacare/shoppable/103118)

[2020-03-27 12:36] HeidiHansen opened #20 "Green electronics"
https://greenelectronicscouncil.org/
https://www.green-electronics.co.uk/
iPhone repair school
https://www.southampton.ac.uk/courses/modules/elec3202.page
https://www.intechopen.com/books/green-electronics/introductory-chapter-green-electronics-starting-from-nanotechnologies-and-organic-semiconductors
https://nerc.org/news-and-updates/blog/nerc-blog/2015/09/01/what-does-green-electronics-mean
http

[2020-03-27 12:54] HeidiHansen opened #22 "Category: Podcasts"
People fixing the world, BBC World Service
Democracy now
The Energy Transition Show
Talking Headways: stories on sustainable transportation, urban planning, and economic development

Also, do we want to link to particular episodes of more general podcasts, e.g. The Radiolab podcast that discusses wastewater treatment?

[2020-03-28 00:29] ajitbohra commented on #6
So this is what we are planning:
- Statamic powered laravel as backend along with API
- new vue powered frontend that connects with Statamic via API

plan to take a stab at design refreshing using tailwindcss.

[2020-03-29 12:21] tsliang commented on #6
@philsturgeon let me know when you're ready for more hands, would be happy to help on the Vue side of things!

[2020-03-31 12:24] philsturgeon commented on #13
Deployed! http://api.protect.earth/api/collections/categories/entries/

I'm gonna close this and we can follow work on #6.

[2020-03-31 12:24] #13 closed

[2020-03-31 12:30] philsturgeon commented on #6
Ok good news! I've moved the statamic-based mirror API into master, which makes it a bit cluttered but you can ignore everything in the 'api/' folder for now.

It's deployed via Forge (thanks @taylorotwell), meaning the API is available here:

- http://api.protect.earth/api/collections/actions/entries/
- http://api.protect.earth/api/collections/categories/entries/

This API comes from the Statamic

[2020-03-31 19:50] philsturgeon commented on #4
We need to get all the ucsusa.org greenpeace everyone fighting the climate crisis that are having to do double the work on a much reduced budget now that COVID-19 is distracting people from shit like EPA rollbacks on industry pollution levels and vehicle standards.

https://thehill.com/policy/energy-environment/489753-epa-suspends-enforcement-of-environmental-laws-amid-coronavirus

- https://blog.

[2020-04-01 00:31] ijpatricio commented on #6
Hey guys!

@philsturgeon sorry for the misunderstanding on the repo before

Hello @ajitbohra @tsliang

The [feature branch](https://github.com/protect-earth/protect.earth/tree/feature/frontend) now has the Vue app, tailwind, vue-router, vue-meta, vue-analytics, vuex, and the initial skeleton with all setup together.

It's not perfect, but I had to let it out of my head today, so let's think of thi

[2020-04-01 01:35] ijpatricio commented on #6
Here you go, could not leave this as was! Need. Sleep. Now. Will eat first ahahah

![image](https://user-images.githubusercontent.com/26031459/78090144-3e571c00-73c1-11ea-81fd-f9590f94c2c0.png)

[2020-04-01 11:51] philsturgeon commented on #6
@ijpatricio this is great! Thanks for getting this started, I know life is bizarre at the moment. Between us we can do a lot :D

I deleted Gatsby and moved the frontend/ folder contents into the root, so we've got less complexity to worry about now. I changed .env.local to point to api.protect.earth by default, and put instructions into README.md for how to run the API _if they want to_, but it sh

[2020-04-01 12:28] philsturgeon commented on #9
Statamic conversion complete! #13

Algolia has been hooked up: 1c888a5

If anyone can pick this up, base off of the `feature/frontend` branch, use the [JavaScript frontend client](https://www.algolia.com/doc/api-client/getting-started/install/javascript/?language=javascript), and the search key is `e8be8c8a25143890d82abf2108de8f93`.

[2020-04-01 13:55] Squallac commented on #6
Hello! I can help you as well

[2020-04-03 00:09] ijpatricio commented on #6
@philsturgeon  yeah for sure, we'll overcome!! and let's do a lot!!

It's getting cleaner and better, woohooo
Yep, it will be optional. After this `tags` and `categories` views are lined up, i'll sum up with e2e testing, and i'll record to a fixture, a few records from the API. Is this ok with you?

Today I'll take care of the Tags view, combining with the existing PR @Squallac

@Squallac Thanks!!

[2020-04-03 01:45] ijpatricio commented on #6
@philsturgeon can't physically do anymore today. i'll finish up on the next go:
- `actions.show` and `actions.index`
- `tags.show` and `tags.index`
- e2e steup

tomorrow or during weekend

http://localhost:8080/actions

What do you think of this as a page skeleton?

![image](https://user-images.githubusercontent.com/26031459/78315499-1ac4da80-7555-11ea-9ef9-6ae15b509be2.png)

[2020-04-03 01:52] ijpatricio opened #27 "Image urls on the api missing?"
Self explanatory i guess :)

![image](https://user-images.githubusercontent.com/26031459/78315873-25cc3a80-7556-11ea-8b66-8d3375baea57.png)

[2020-04-03 05:50] Squallac commented on #6
Sure @ijpatricio don't worry! Unfortunately I can only invest a couple of hours per week but I would like to help in whatever I can.

[2020-04-03 13:24] philsturgeon opened #28 "v2 Country Selector"
Before we can launch the awesome v2 frontend we need to get a country selector working.

We had the idea of a country selector in v1 but we need to make some improvements. The goal of the selector is to help elevator relevant content to you, so somebody in Serbia should be able to see any content which is in Serbia, as well as globally available content.

Country selection for now will have nothin

[2020-04-03 13:27] philsturgeon opened #29 "Submission Form"
**Updated (2020-10-22):** Now that we're going with Airtable and getting rid of a lot of code, can we see if any of these form solutions will help us add suggestions from the public and let us moderate them?

- https://beenform.co/
- https://builtonair.com/resource/airtable-proxy-cloudflare-worker/
- https://builtonair.com/resource/form-nano/
- https://builtonair.com/resource/airconnex/
- https://

[2020-04-03 13:57] philsturgeon opened #30 "French Links"
We need more links / actions from France. They can be PRed into master, and for now it's ok to still do them to src/data/links.yaml.

_We're changing the backend but we have a conversion script, so just ignore `api/` entirely and keep on as before._

Anything for any category that's helping people reduce their footprint, switch to green energy, avoid food waste, you name it.

Write it all in Frenc

[2020-04-03 13:57] philsturgeon commented on #30
@AdrienFromToulouse are you still able to take this?

[2020-04-05 13:42] #27 closed

[2020-04-05 22:04] ijpatricio opened #34 "Make every static asset versioned, as pictures are not right now"
![image](https://user-images.githubusercontent.com/26031459/78511077-cce8e600-7791-11ea-8c7b-3cb609aba9bd.png)

In order to bust the cache if any picture is chenged, but with the same name, they should be automatically versioned. webpack takes care of this, things is to get its name when using as a string in css background

[2020-04-05 23:02] ijpatricio opened #35 "Crop Category Images for Homepage"

[2020-04-05 23:03] ijpatricio opened #36 "Dropdown `I am a...`"
Complete the links to tags for the various target audiences.

[2020-04-05 23:04] ijpatricio opened #37 "Recent Items"
On the Hero 3 cards would it be great, instead of a list???

[2020-04-06 00:18] #34 closed

[2020-04-06 02:46] ijpatricio commented on #6
@philsturgeon

check the footer links

![image](https://user-images.githubusercontent.com/26031459/78517330-b7d17e80-77b4-11ea-9d21-3e4b34fc827f.png)

so now we have a few things implemented, not to say a bunch!

now i regret i didnt take a note...

What do you say, I'll close this issue, and let's open smaller (like i did a few)

And take it from there ;)

Happy biking! 🚵‍♀️

[2020-04-06 02:53] ijpatricio commented on #6
![image](https://user-images.githubusercontent.com/26031459/78519088-1b11df80-77ba-11ea-9e79-c88122bdadf3.png)

![image](https://user-images.githubusercontent.com/26031459/78518948-b787b200-77b9-11ea-9a84-afd55f4c42f2.png)

[2020-04-06 02:54] ijpatricio opened #38 "Hamburguer menu on mobile/responsive"
Top navigation should have a hambuger.

<img width="368" alt="image" src="https://user-images.githubusercontent.com/67381/79126312-9dd90280-7d97-11ea-95f4-c33c85009c3b.png">

[2020-04-06 02:57] ijpatricio commented on #37
@philsturgeon what do you think of the recent links not being a list, but instead making use of those 3 cards?

or instead of 3 column cards, wide cars , one per row...

lmk your thoughts!

[2020-04-06 11:33] ijpatricio commented on #29
I also prefer using Statamic forms.
Database wise... Do we have a vps, or how is it setup??

Also, we could just post the form data into a GoogleSheet. From the backend, with honeypot check, csrf etc.

[2020-04-06 12:27] philsturgeon commented on #35
There should be a way in Statamic Content API to request smaller versions of the images. They use Glide, which is designed to do just that. I've made https://github.com/statamic/docs/issues/100 which might end up being a feature request if the functionality is not currently possible.  [Assets](https://statamic.dev/assets#image-manipulation) do support image manipulation via glide for the feontend,

[2020-04-06 12:29] philsturgeon commented on #29
Netlify is basically a Google Sheet so it might be the better choice for now. Remember, the frontend is netlify and the backend is basically a VPS on Digital Ocean, and getting stuff out of there is a bit of a pain in the butt. We will, in time, use Spock which will commit back CP changes but meh, maybe lets use Netlify forms for now so we dont have to think about any security or anything.

[2020-04-06 12:31] ijpatricio commented on #35
Ooooh great! it will be adding query_params on href, or making a scr-set, i guess!

Nevermind, I'll take care of this, go with other topics that i can't address.

[2020-04-06 12:34] philsturgeon commented on #37
Sounds good. We can tie up the icons to #12 in the future, maybe comment them out for now. we need a header saying "New Actions to Try" or something.

[2020-04-06 12:36] philsturgeon commented on #36
Also, noticed a funny issue loading with a slow connection.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67381/78557446-b8940000-7808-11ea-8a0f-cb08d7256e0a.png">

[2020-04-06 13:13] philsturgeon commented on #6
This mega issue was good, but let's close it down and focus on the other issues in the [May v2 Launch milestone](https://github.com/protect-earth/protect.earth/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22May+v2.0+Launch%22) to get the MVP #39 over the line.

[2020-04-06 13:13] #6 closed

[2020-04-06 13:23] philsturgeon commented on #37
OH duh the icons can just be for "categories". :D LMK if you need help picking them.

[2020-04-06 13:25] philsturgeon opened #40 "Featured Items + Images"
There should only ever be 3 featured links in a category, because multiple look broken. Grab _the most recent 3 featured items_, and keep it relevant to the country selected, e.g.: if there are 5 links with featured, 2 global and one for the country I have selected, I should see three links, not 5, and not just the 2.

If possible, it would be amazing to have featured items even if we cannot find

[2020-04-06 13:26] philsturgeon opened #41 "About Pages"
Shove together a lorem ipsum About page which I can write up some text about why this site exists. This could be just a generic page with a header, so we can make a few more generic pages.

[2020-04-06 20:57] philsturgeon commented on #35
Update on my question to Statamic. Seems like they've got a workaround https://github.com/statamic/ideas/issues/127#issuecomment-610029237

[2020-04-08 14:03] Squallac commented on #36
I can work on this

[2020-04-08 14:17] Squallac commented on #36
Oh sorry I didn't noticed you were assigned to this, I'll look for something else haha

[2020-04-08 14:20] Squallac commented on #9
I can work on this @philsturgeon

[2020-04-08 14:49] philsturgeon commented on #9
@Squallac this is in progress, I just poked the chat to get him to accept the invite and assign it to himself. Would you be interested in working on #28?

[2020-04-08 14:56] ijpatricio commented on #36
Hello @Squallac , that's not a problem, you're assigned now. I'll review it.

Keep it like your previous work, small and concise. Better to have smaller and quick iterations ;)

Let me know if you need any hands on deck!

[2020-04-08 14:59] Squallac commented on #9
Yeah, sounds good @philsturgeon

[2020-04-08 15:00] Squallac commented on #28
I'll work on this

[2020-04-08 15:02] ijpatricio commented on #41
Ok, I'll make this my next assignment.

@philsturgeon Can we divide this in two steps, so that nr 1 is very quick?

Step 1 - Generic page, that imports (literally ES import) the HTML content from a chosen file

Step 2 - Generic page, that retrieves content from the api? With markdown content, or even better a block builder. MD block + image block. Each block an async VueComponent, that can be resu

[2020-04-08 16:15] Squallac commented on #36
I wasn't able to reproduce this issue, I tested with firefox and Chrome in Ubuntu using slow connection throttle. This might be an issue with the bundle size?

[2020-04-08 16:18] Squallac commented on #36
PR Open https://github.com/protect-earth/protect.earth/pull/42

[2020-04-08 16:20] philsturgeon commented on #36
@Squallac can you see the issue on https://new.protect.earth/ in FF?

[2020-04-08 16:27] Squallac commented on #36
Oh yeah I can see it! Let me take a look

[2020-04-08 16:31] philsturgeon commented on #41
Yeah please step 1 for now is great. We might not need 2 for a long time, I'm fine pushing to the frontend for now.

[2020-04-08 21:59] HeidiHansen opened #45 "Donate air miles to climate charities"
[How to donate unused frequent flyer miles to charity](https://www.businesstraveller.com/features/how-to-donate-unused-frequent-flyer-miles-to-charity/)
[KLM](https://www.flyingblue.nl/en/donation/charities) miles can be donated to [we4sea](https://www.we4sea.com/)

[2020-04-08 22:28] philsturgeon commented on #41
I’ll make a new issue for api-based pages of the need comes up. :)

[2020-04-08 22:28] #41 closed

[2020-04-13 12:41] philsturgeon commented on #9
Gonna call this one done even though its not designed yet. Thanks @Tajmaha!

[2020-04-13 12:41] #9 closed

[2020-04-13 13:59] philsturgeon commented on #28
@Squallac excellent, thank you.

[2020-04-13 14:00] philsturgeon commented on #36
I'd love to get this killed off. I keep bumping into it every time I preview the site. 😆

[2020-04-13 14:08] philsturgeon opened #48 "Update the awesome-earth import script"
We split this site out of the https://github.com/philsturgeon/awesome-earth/ repo and now it's out of date.

If somebody can recreate the import script from the new Statamic REST API that would be amazing!

- https://api.protect.earth/api/collections/categories/entries/
- https://api.protect.earth/api/collections/actions/entries/

[2020-04-13 14:31] philsturgeon opened #49 "Tag Page"
We've got some links in the footer to `/tags` but that's not going to be a page. We'll only have landing pages for tags, populating things like the `I am a...` dropdown #36 and as a precursor to more formal #12.

Let's get `/tags/land-owner` looking a bit more like https://protect.earth/tags/land-owner.

[2020-04-13 22:24] #48 closed

[2020-04-14 12:29] philsturgeon opened #50 "Track outgoing Action clicks"
We don't want anything super snoopy like Google Analytics but we do wanna know how many people are going out to which links so we can rank popularity and maybe _maybe_ allow paid placements to help us pay back contributors some day, or buy more trees, or something.

Regardless, knowing if anyone is actually clicking these links would be pretty great.

Netlify analytics is a bit useless and only te

[2020-04-14 14:43] philsturgeon opened #51 "React Component for Actions"
Let's create a React/Web Component to let people pull content from our API.

For example, a list of "Food" actions in the UK.

We can use this on sites like:

https://climatechoice.co/change-how-you-eat

This is a general guide which lacks calls to action, so we can suggest 10 actual services or things for them.

### Implementation

The API is generated by [Statamic Content API](https://statamic.d

[2020-04-14 14:44] william-woodhead commented on #50
It seems to me like there are 4 options:

1. Use a link shortening 3rd party service like bitly or rebrandly
1. Use a plugin for statamic
1. Use GA or equivalent to track clicks
1. Create our own datastore and send clicks to our own endpoint.

#### **Use a link shortening service Like bitly or rebrandly**

**pros:**
- very easy to set up
- analytics out of the box
- free tier

**cons:**
- will hav

[2020-04-14 17:14] mbifulco commented on #50
A reasonable GA-alternative is [fathom](https://github.com/usefathom/fathom#lite-vs-pro) - their OSS model is self-hostable, and I think would easily fit in a free-tier heroku dyno.

[2020-04-14 17:25] philsturgeon commented on #50
We've also got Digital Ocean so we could host fathom on a cheapy $5 thing. I'm still trying to bug DO to get us some credits/freeness. https://marketplace.digitalocean.com/apps/fathom-analytics

Having Netlify AND Forge AND Digital Ocean AND Heroku might be a step too far.

[2020-04-14 17:57] ofpiyush commented on #51
Sample: https://api.protect.earth/api/collections/actions/entries/?filter[categories:contains]=a1a4ac88-627d-4bc7-a5b5-d3dcdc10cc43

[2020-04-14 18:12] philsturgeon commented on #51
HA! Ok awesome, I am a dummy. I just had to use the category ID not the category slug.

Maybe we can just do two queries, and let people get all the category data, then get the actions.

[2020-04-14 19:42] william-woodhead commented on #50
Had a look at Fathom and it looks as though the only custom events you can send are called Goals. So it would mean setting up each external link as an individual Goal, and then adding a bit of javascript to send the Goal event before navigating to the external link. https://usefathom.com/support/goals .

[2020-04-15 02:18] ofpiyush commented on #51
Underneath, it runs a `like` query though. Might want to make another API endpoint instead of using this one OR as the content doesn't change much, setup caching when scale hits.

[2020-04-15 12:30] philsturgeon commented on #29
Let's make this on a `/suggest` page or something like that. In v1 it went into About and that might be a little hard for folks to find.

[2020-04-15 15:09] Squallac commented on #36
I was taking a look to the

I was taking a look to this issue, it looks like its not loading the css classes "ml-1 h-5 w-5" on the svg file.

Do you think this could be an issue with the tailwindCSS config @ijpatricio ? I'm not familiar with the config of tailwind

[2020-04-15 17:19] ijpatricio commented on #36
With your findings, I set the prop to not display the inner svg, and put it our own (the same) on the content slot, so that I could override the styles directly on the element.

Better done than perfect, when and if it will be a problem, we'll take care of that. For now it's done, I've made a quick PR.

Thank you @Squallac

[2020-04-15 17:33] philsturgeon commented on #36
Thank you @ijpatricio!

[2020-04-15 17:33] #36 closed

[2020-04-15 17:34] philsturgeon commented on #36
Also thank you @Squallac great teamwork.

[2020-04-15 17:41] philsturgeon commented on #37
@ijpatricio the API endpoint for getting recent items is: `https://api.protect.earth/api/collections/actions/entries/?sort=-date`

[2020-04-15 17:57] ijpatricio commented on #37
@philsturgeon did you check already the 3 cards on the homepage??

I put it already from that endpoint, limiting to 3 and filtered by `published` status on the cms end.

Am I missing something?

PS: Days have been tight lately. With smaller PR's from now will be easier to push forward

[code]

[2020-04-15 18:13] philsturgeon commented on #37
Great! Closing.

[2020-04-15 18:13] #37 closed

[2020-04-15 18:15] philsturgeon opened #54 "Redesign"
Part of the v2 launch will be a fantastic redesign. I've shared the wireframes with a few people, let me know if you need them.

The job can either be to create visual static HTML and we'll figure out how to Vue.js'ify it, or it can be done as a pull request to the repo. We can work with any process.

[2020-04-16 08:48] philsturgeon commented on #50
Oh man creating ids from the dashboard doesn’t seem like a fun time, again unless we can make an extension for statamic or something which gives it a fathom ID when they’re added. That seems like a lot of work, probably not worth it.

Do we have to use GA? 😞

On Tue, Apr 14, 2020 at 20:42, William Woodhead <notifications@github.com> wrote:

[2020-04-16 08:55] philsturgeon commented on #50
Aha, Matomo it is. I’ll set up a Digital Ocean https://matomo.org/faq/new-to-piwik/faq_71/

[2020-04-16 13:59] philsturgeon commented on #51
We've not created any endpoints and we can't actually do that, it's a generated API from the Statamic CMS: https://statamic.dev/rest-api

[2020-04-16 22:19] philsturgeon commented on #7
BlackRock sustainable fund https://www.blackrock.com/institutions/en-gb/solutions/sustainable-investing

[2020-04-17 06:14] ofpiyush commented on #54
Can you attach the new design and intended user flows here?

[2020-04-18 18:25] philsturgeon commented on #22
https://www.youvebeenwarmed.com/

https://open.spotify.com/show/5rt2DC1hDOsMgW3P2Uxdan

http://www.sustainababble.fish/

https://climate.mit.edu/users/tilclimate-podcast

[2020-04-20 09:53] ijpatricio opened #55 "Get homepage closer to wireframes"
"What can we Do?" was added to v1, but could be moved over to v2, along with some of the newer sections.

<img width="634" alt="image" src="https://user-images.githubusercontent.com/67381/81215722-a78a0a80-8fd1-11ea-803d-bbd66d77c7a9.png">

See all the new wireframes here: https://balsamiq.cloud/s9t5ox1/p41eefe

[2020-04-20 11:15] philsturgeon commented on #54
Sent the wireframes to everyone on slack. :)

[2020-04-20 15:24] #22 closed

[2020-04-20 19:00] philsturgeon commented on #55
If we can get home, categories and tags pages looking a bit like this we're onto a huge winner.

[2020-04-20 19:33] philsturgeon commented on #7
https://goodmoneyweek.com/ - generally interesting and general public facing info

Some good tools:

- https://www.fundecomarket.co.uk/ - think this is for everyone

- https://www.ethicalscreening.co.uk/ - this is also for various categories of those interested in investment. financial advisors can do this but maybe not private investor angle

There’s a lot of different types of “ethical” style in

[2020-04-21 10:12] philsturgeon commented on #55
I've updated the scope of this issue a bit. Don't worry about doing 100%, just get the homepage closer to the wireframes.

These can go in without a huge amount of styling, they just need to be there functionally so the does stuff.

- [ ] What can we do?
- [ ] Does this apply to me?
- [ ] Find your action!

[2020-04-21 10:15] philsturgeon opened #57 "Actions by Category Page"
Keeping [the wireframes](https://balsamiq.cloud/s9t5ox1/p41eefe/r67D2) in mind, we could do with category pages:

- Carbon Reduction
- Food
- Politics

etc.

They must match the old URLs:

- protect.earth/carbon-reduction
- protect.earth/food
- protect.earth/politics

The API endpoint is this: https://api.protect.earth/api/collections/categories/entries/

You can skip the fancy featured image bit

[2020-04-21 21:43] imkieransmith commented on #57
I'm working on this. Aiming to have something to show soon.

[2020-04-22 15:04] Squallac commented on #28
@philsturgeon Do we have a specific list of countries that you want to show? Or I'll just list all of them

[2020-04-22 17:04] philsturgeon commented on #28
All the ones we have content for. It can be done manually, but bonus points if it can be automated.

[2020-04-27 20:51] philsturgeon commented on #7
Shares of renewable projects https://www.thriverenewables.co.uk/

[2020-04-28 12:56] philsturgeon commented on #7
https://www.hl.co.uk/funds/research-and-news/fund-sectors/responsible-investing

[2020-04-30 23:04] #7 closed

[2020-04-30 23:34] philsturgeon commented on #7
Done! Thanks everyone. https://protect.earth/finance/

[2020-05-01 15:39] HeidiHansen commented on #20
https://www.gonimble.com/pages/why-were-different#environmental-impact

[2020-05-01 15:40] HeidiHansen commented on #20
We could also add e-waste recycling resources here.  https://www.gonimble.com/pages/recycling-program

[2020-05-01 16:00] HeidiHansen opened #64 "Category: Data/Datasets"
https://globalsolaratlas.info/map

[2020-05-06 14:50] philsturgeon commented on #54
Found somebody to get this done! Let’s keep this as a place for updates.

[2020-05-06 17:58] mbifulco opened #68 "Analytics from Fathom"
I just added fathom to the current site for analytics (#67).  We should continue to use it on the new site to track traffic patterns

[2020-05-06 18:39] philsturgeon commented on #68
Great! Can you PR it in? Can we also see if there is any way to do outgoing clicks? #50

[2020-05-07 13:31] mbifulco commented on #68
I'll get a PR going - I bugged them on twitter about outgoing clicks, but they don't have a good answer (yet).  I'll set up a serverless function to track that stuff for now

[2020-05-07 14:23] philsturgeon commented on #57
Done!

[2020-05-07 14:23] #57 closed

[2020-05-07 14:24] philsturgeon commented on #49
@imkieransmith do you think you could knock this one out too? It's basically the same thing but tags this time! :D

[2020-05-07 14:28] mbifulco commented on #49
@philsturgeon funny enough I just pulled up this issue, and the `land-owner` url is... gone?

This one works though https://protect.earth/tags/business

[2020-05-07 14:36] philsturgeon commented on #49
https://protect.earth/tags/land-owners oops

[2020-05-07 14:37] mbifulco commented on #49
Ah I see! we link to land-owner in nav right now 😬

[2020-05-07 15:30] philsturgeon commented on #49
Right right sorry I was fixing that.

---
Phil Sturgeon
🌍 [Saving the world](https://protect.earth/) and 🚴‍♂️ [crashing bikes](https://phil.bike)

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, May 7, 2020 3:37 PM, Mike Bifulco <notifications@github.com> wrote:

[2020-05-11 20:00] philsturgeon opened #70 "Guide: Greenwashing"
What is greenwashing, why is it a problem, and how can you spot it?

[2020-05-11 20:02] philsturgeon opened #71 "Guide: Offsetting"
Is carbon offsetting "good" or "bad" 🙄?

Some offsetting companies are massive greenwashing.

Some offsetting companies are flat out fraud.

Studies show some will emit more when offsetting because they think they get a free pass.

Confusing tree planting and offsetting certified units of CO2e.

[2020-05-11 20:03] philsturgeon opened #72 "Guide: Getting Started"
starting from scratch, how can you make a big dent in your own footprint, whatever your lifestyle?

[2020-05-13 15:47] philsturgeon commented on #12
We've got sectors and solutions for now, I think this'll be enough until we decide we need more later.

[2020-05-13 15:47] #12 closed

[2020-05-15 12:10] philsturgeon opened #77 "Direct URLs show Not Found on Netlify"
If you try going to a URL directly it won't load, but if you navigate to it, it'll work fine.

For example: https://new.protect.earth/tags/land-owner

Can somebody who knows how Netlify and Vue interact take a swing at fixing this for the v2 MVP launch?

[2020-05-15 14:04] #49 closed

[2020-05-21 11:20] ofpiyush commented on #77
Can close this issue

[2020-05-25 17:05] #77 closed

[2020-05-27 11:24] #71 closed

[2020-08-03 13:51] johnrhunt opened #87 "Instructions in readme.md"
As someone who wants to help but doesn't do the javascript thing - it would be useful to know how I can compile the project (or whatever it needs..) for local development. My suggestion is some simple notes in the readme.md.

[2020-08-03 13:53] philsturgeon commented on #87
We've got https://github.com/protect-earth/protect.earth/blob/master/CONTRIBUTING.md explaining where links data is.

We're rewriting the site so no work on features or documentation is being done to describe the current website.

[2020-08-03 13:53] #87 closed

[2020-08-03 13:55] philsturgeon commented on #50
According to @mbifulco, [Fathom](https://usefathom.com/) is adding outgoing link tracking, which we can use to avoid writing any code or messing about.

[2020-08-03 13:55] #35 closed

[2020-09-02 09:11] philsturgeon commented on #50
@mbifulco did Fathom get this feature out? :)

[2020-09-02 10:02] philsturgeon commented on #28
I took a swing at fixing the country selector in v1 because v2 stalled out, but I cannot seem to get the selection to persist between page loads because I do not understand React context. If anyone can get it working in main real quick then we can uncomment it from the footer, but to test it out uncomment the selector in the footer, and refresh after selecting.

If you get persistence working, whe

[2020-10-20 14:31] piperchester commented on #28
I'll start exploring this. Was considering persisting some state in session storage or a cookie, if no one has any objections.

[2020-10-20 15:18] philsturgeon commented on #28
Sounds good!

On Tue, Oct 20, 2020 at 16:32, Piper <notifications@github.com> wrote:

[2020-10-22 11:17] #30 closed

[2020-10-22 11:17] #38 closed

[2020-10-22 11:17] #54 closed

[2020-10-22 11:17] #55 closed

[2020-10-22 11:30] philsturgeon opened #93 "Switch to gatsby-source-airtable"
Giving up on the big v2, we're making incremental improvements that solve the same problems:

1. Other sites able to access our dataset
2. Folks can submit links without messing with YAML
3. Moderators don't need to mess with this at a GitHub level

We've migrated our entire data set to Airtable, so now we just need to hook it up.

https://www.gatsbyjs.com/plugins/gatsby-source-airtable/

Shouldn'

[2020-10-24 12:33] SOHELAHMED7 commented on #93
Hi Phil,

I am the one who commented: https://twitter.com/SohelAhmedM/status/1319979992827056128

[2020-10-24 12:35] SOHELAHMED7 commented on #93
Before proceeding I would like to clear my doubts. Which way you have decided to go with? 1. Gastby Airtable plugin or 2. Gary's suggested way (https://twitter.com/philsturgeon/status/1319240136220200962) to create HTTP function on Lambda and give data of  Airbable from there?

[2020-10-24 12:37] SOHELAHMED7 commented on #93
If you choose 1st way you can invite me on Airtable. My email address can be found at https://github.com/sohelahmed7

I can go through table and can get Airtable API key

[2020-10-25 17:37] philsturgeon commented on #93
@SOHELAHMED7 I've just asked @GeeH to knock up the lambda so as soon as it's ready I'll give you the URL.

[2020-10-25 19:52] SOHELAHMED7 commented on #93
@philsturgeon  Out of curiosity what is the purpose of setting AWS Lambda HTTP function on the top of Airtable API to read data from Airtable. Why don't read data directly from Airtable API by https://www.gatsbyjs.com/plugins/gatsby-source-airtable/

[2020-10-30 15:42] jpsingleton opened #95 "Site Status?"
Not sure if I missed something but when I go to [protect.earth](https://www.protect.earth/) it's just a landing page with an email sign-up form. Where did all the content go?

[2020-10-30 15:45] jpsingleton commented on #95
Looks like you can still get to the site at https://protect-earth.netlify.app/

[2020-10-30 16:13] philsturgeon commented on #95
It's over here: https://actions.protect.earth

We've had a huge pivot and are switching to direct action, we're planting trees all over the UK and buying land too.

https://www.patreon.com/ProtectEarth

The site is being reworked to match this, and we're working with folks like ClimateChoice.co to see if we can migrate our content over to them.

[2020-10-30 16:38] #95 closed

[2020-11-07 12:19] SOHELAHMED7 commented on #93
Hi @philsturgeon

Created PR -> https://github.com/protect-earth/protect.earth/pull/96

Let me know if sorting needs any changes or addition:

https://github.com/protect-earth/protect.earth/pull/96/files#diff-7d335d9933a2a7bd080525968146ecbe3728a087fc5835a439dad04beba2435aR141

[2020-11-07 12:35] SOHELAHMED7 commented on #93
Also

At Line https://github.com/protect-earth/protect.earth/blob/main/src/pages/select-your-country.jsx#L73

data should be fetched from AirTable, right?

If yes, do I have to filter by status "Completed"?

[2020-11-07 16:00] #93 closed

[2020-11-07 16:00] philsturgeon commented on #93
Good question! I fixed it up, it wasn't even being used.

[2020-11-07 16:13] #29 closed

[2021-01-10 21:33] devjack opened #97 "\n is a non-standard text-block terminator and should be removed."
There are newline (\n) escape sequences sneaking into published HTML through either a) data import (check airtable source?) or b) some sort of escaping code.

![image](https://user-images.githubusercontent.com/3516066/104135988-7b881a00-53e7-11eb-8e24-46ba931098fa.png)

[2022-09-21 07:55] #72 closed

[2022-09-21 07:55] #51 closed

[2022-09-21 07:56] #50 closed